* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;    
    font-family: sans-serif;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}
main {
    flex: 1 0 auto;
    height: 100%;
}

h1 {
    text-align: center;
}

h5 {
	margin: 60px 0 0 0;
	font-weight: bold;
}

/*------------- content ---------------*/



.line {
	border: 2px solid gray;
	width: 150px;
	margin: 40px auto;
	text-align: center;
}

.main-ul {
	margin: 0 0 40px 0;
	line-height: 2.5;
	color: #696969;
}

.main-ul__li {
	position: relative;
}

.mark {
	width: 25px;
	line-height: 25px;
	position: absolute;
	left: -35px;
	top: 5px;
}

.main-baner {
	min-height: 250px;
	background: #DCDCDC;
	width: 100%;
}
.main-baner__block {
	margin-bottom: 40px;
}

.main-baner__p {
	line-height: 1.8;
	text-transform: uppercase;
	font-size: 18px;
	font-weight: bold;
	margin: 30px 0;
    color: #696969;
}

.main-p {
	line-height: 1.8;
	margin: 0 0 40px 0;	
	color: #696969;
}

.main-h4 {
    padding: 40px 0 0 0;
    text-align: center;
    margin: 0;
}

.mb {
    margin-bottom: 120px;
}
    
/*-------------- header ------------*/

.header__logo {
	margin: 0 20px;
}

.header__logo__img {
	height: 45px;
	margin: 7px 20px;
	color: #fff;
}

.header__link {
	height: 25px;
    margin: 20px 20px;
    text-decoration: none;
}
.body-header {
    margin: 40px 0 60px 0;
}
.header__contacts {
    margin-right: 40px;
    font-size: 18px;
}
.header-info {
    padding: 5px 0;
}
/*------------- send-form ---------------*/

.form-wrapper {
    width: 350px;
    margin: 250px auto;
    position: relative;
    height: 100%;
}

.body-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(105, 105, 105, .7);
    z-index: 3;
    
}

.send__form {
    border: none;
    border-radius: 10px;
    padding: 20px 30px;
    position: relative;
    height: 420px;
    width: 350px;
    margin: 250px auto;
    background: #FFF;
    font-size: 12px;   
}

.close__btn {
    position: absolute;
    height: 40px;
    width: 40px;
    line-height: 10px;
    border-radius: 50px;
    border: none;
    right: -10px;
    top: -10px;
}

.send__app {
    cursor: pointer;
}

.form__send__btn {
    margin-top: 60px;
}

.mob-form {
    margin: 60px 0 100px 0;
}

/*-------------- chips ----------------*/

.chieps-field {
	position: absolute;	
    min-width: 110px;
    z-index: 999;
}

.chips {
	padding: 5px 10px;
	background: #87CEFA;
	z-index: 9999;
	position: relative;
	margin: 10px 20px;
	font-size: 18px;
	line-height: 1.5;
	border-radius: 5px;
	border: 1px solid #ccc;
    box-shadow: 1px 1px 1px #999;
    text-align: center;
}

.chips-mod {
    border: 10px solid #B0E0E6;
    border-radius: 5px;
    padding: 20px 30px;
    position: relative;
    height: 100x;
    width: 220px;
    margin: 250px auto;
    background: #FFF;
    font-size: 18px;   
}

/*------------- about --------------*/

.about-baner {
	background: #DCDCDC;
	width: 100%;
	height: 120px;
}
.about-baner__h4 {
	line-height: 120px;
	cursor: pointer;
	margin: 0;
}
.about-baner__h4 a{
	text-decoration: none;
	color: #000;
}

.about-baner__h4 a:hover {
	opacity: 0.7;
	transition: all 0.4s ease-in-out;
	font-size: 50px;
}

.about-baner__second {
	padding: 50px 0;
	background: #778899;
	min-height: 500px;
	width: 100%;
}
.about-baner__second p {
	margin-top: 30px;
	font-size: 16px;
	font-weight: 600;
}

/*------------- hide ---------------*/

.hide {
    display: none;
}

/*------------ media ---------------*/

@media (max-width: 992px) {
	.about-baner {
		display: none;
	}
}

@media (max-width: 520px) {
    h1 {
        font-size: 40px;
    }
}
